body{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 1.5em;
    margin:0;
}

.nav{
    transition-property: all;
    transition-duration: 1s ;
    background-color: rgb(151, 151, 151);
}

.itsme{
    background-color: cadetblue;
    border: rgb(73, 25, 7) 2px solid;
    width: 20%;
    margin: 0 auto;
    border-radius: 6px;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
    left: 100vw;
}
.p1{
    opacity: 00%;
    width: 100%;
    margin: 0 auto;
}
.itsme:hover #itsme:hover{
    width: 55%;
    background-color: cadetblue;
    opacity: 100%;
    transition: 1s;
    width: 60%;
}