body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

body :nth-child(even){
    background-color: springgreen;
}

table{
    margin: 10% auto;
    border-collapse: collapse;
}

caption{
    background-color: burlywood;
    padding: 20px;
    caption-side: bottom;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
    border: 2px solid darkred;
    margin-top:0.5%;
}

.prenom{
    background-color: #D7D9F2;
  }
  .adresse{
    background-color: #FFE8D4;
  }

thead{
    background-color: aliceblue;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}